{% extends 'main.html' %}
{% load static %}
{% block content %}

<style>
    .home-container{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        overflow: hidden;
        margin-left: 5px;
        margin-bottom: 10px;
        margin-top: 10%;
        gap: 5px;
    }
    .room-container{
        display: grid;
        font-family: helvetica;
        grid-template-columns: 4fr 3fr;
        margin-top: 10%;
    }
    .shoe-container {
        margin-bottom: 20px;
    }
    .shoe-group {
        display: flex;
        overflow-x: scroll;
        overflow-y: hidden;

    }
    .shoe {
        margin-top: 10px;
        margin-left: 10px;
        width: 300px;
        height: 25%;
        padding: 20px;
        margin-right: 10px;
        border: 1px solid transparent,;
        border-radius: 10%;
        transition: border-color 0.1s;
    }
    .shoe:hover {
        border-color: grey;
    
    }
    .shoe_room {
        width: 310px;
        height: 400px;
        padding: 20px;
        margin-right: 10px;
        border: 1px solid transparent;
        border-radius: 13%;
        overflow: hidden;
        transition: border-color ;
    }
    .shoe_room:hover {
        border-color: gray;
    
    }
    .no-link-style {
        text-decoration: none;
        color: black;
        overflow: hidden;
        transition: text-decoraion 0.1s;
        
    }
    
    .no-link-style_csoport {
        text-decoration: none;
        font-family: times;
        font-size:x-large;
        width: auto;
        height: auto;
        border: 3px solid transparent;
        color: black;
        box-sizing: border-box;
        margin-left: 1%;
        margin-right: 70%;
        position: relative;
        cursor: pointer;
        width: fit-content;
    }
    .shoe_img {
        width: 320px;
        height: 181px;
        margin-bottom: 10px;
        object-fit: cover;
        overflow: hidden;
        
    }
    .text_style {
        color: black;
        overflow: hidden;
        font-family: Helvetica;
        font-size: small;
        
        font-weight: 100;
        
    }
    .Foot_locker {
        transform: scaleX(-1);
        width: 280px;
        height: 160px;
        margin-bottom: 10px;
        object-fit: cover;
    }
    .csoport_style {
        font-family: "Bebas Neue", sans-serif;
        margin-left: 0%;
        text-decoration: none;
        color: rgb(10,66,93);
        display: flex;
        margin-bottom: 0%;
        width: fit-content;
        
    }
    .csoport_style::after {
            content: '';
            position: absolute;
            margin-left: 1%;
            margin-right: 0%;
            width: 0;
            height: 2px;
            bottom: 0;
            left: 0;
            background-color: black;
            visibility: hidden;
            transition: all 0.3s ease-in-out;
        }

    .csoport_style:hover::after {
        visibility: visible;
        /* width: 100%; */
    }
    .sizeer {
        transform: scaleX(-1);
        background-color: transparent;
        opacity: 50%;
        width: 300px;
        margin-top: -125px;
        opacity: 1;
        overflow: hidden;
        object-fit: cover;
        clip-path: inset(130px 0 0 0);
    }
    #homediv {
        margin-top: 7%;
    }
    .shoe_img_q {
        width: 320px;
        height: 181px;
        margin-bottom: 10px;
        object-fit: cover;
        overflow: hidden;
        
    }
    .nagykép{
        object-fit: cover;
        object-position: center;
        overflow: hidden;
        margin-top: -2%;
        width: 102.55%;
        height: 780px;
        margin-left: -2%;
        margin-right: 0% ;
    
        
    }
    #nagycsoport{
            font-size: 50px;
        }
    .ár{
        gap: 1px;
        justify-content: center;
        align-items: center;
    }
    .össz-meg-container {
        position: relative;
        margin-left: 1.4%;
        width: 12%;
    }

    .össz-meg {
        font-size: 18px;
        width: 100%;
        margin-left: 0%;
        font-family: helvetica;
        color: black;
        font-weight: 400;
        position: relative;
    }

    .össz-meg::after {
        content: '';
        position: absolute;
        left: 0;
        bottom: -2px;
        width: 0;
        height: 2%;
        background-color: black;
        visibility: hidden;
        transition: all 0.3s ease-in-out;
    } 

    .össz-meg-container:hover .össz-meg::after {
        visibility: visible;
        width: 100%;
    }
    .shoe-group::-webkit-scrollbar {
        width: 12px; 
        height: 8px; 
    }

    .shoe-group::-webkit-scrollbar-track {
        background: transparent;
        border-radius: 10px;
    }

    .shoe-group::-webkit-scrollbar-thumb {
        background: rgb(10, 66, 93) ;
        border-radius: 10px;
    }

    .shoe-group::-webkit-scrollbar-thumb:hover {
        background: rgb(10, 66, 93);
    }

    .shoe-group::-webkit-scrollbar-button {
        display: none; 
    }

    .shoe-group {
        scrollbar-color: rgb(10,66,93) transparent; 
        scrollbar-width: thin; 
    }
    .nagykép_szöveg{
        left: 0;
        width: 100%;
        position: absolute;
        font-family: "Bebas Neue", sans-serif;
        color: white;
        text-align: center;
        top: 200px;
        text-shadow: 2px 2px 5px rgba(157, 157, 157, 0.5);
        
        font-size:70px;
    }
    .scroll-arrow {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        font-size: 40px;
        color: rgba(0, 0, 0, 0.5);
        cursor: pointer;
        z-index: 10;
        display: none;
        transition: color 0.3s;
    }

    .left-arrow {
        left: 0;
    }

    .right-arrow {
        right: 0;
    }

    .shoe-container:hover .scroll-arrow {
        display: block;
    }

    .scroll-arrow:hover {
        color: rgba(0, 0, 0, 1);
    }
    .nyilak{
        position: absolute;
        display: flex; 
        gap: 5%;
        width: min-content;
        right: 0;
        margin-top: -5%;
        margin-right: 2%;
    }
    .x_design_nyil {
        border-radius: 100%;
        border-color: rgb(10, 66, 93);
        background-color: white;
        height: 50px;
        width: 50px;
        display: grid;
        justify-content: center;
        align-items: center;
        z-index: 1001;
        overflow: hidden;
        transition: border-color 0.3s;
        cursor: pointer;
    }
    .X_nyil {
        color: rgb(10, 66, 93);
        transition: color 0.3s;
        size: 50px;
    }
    .x_design_nyil:hover .X_nyil {
        border-color: black;
        color: grey;
    }
    
    @media(max-width:600px) {
        
        #homediv{
            margin-top: 15%;
        }
    }
    @media(max-width:1350px) {
        .nagykép{
            width: 103%;
            
        }
        
        .home-container{
            grid-template-columns: repeat(2, 1fr);
        }
        .shoe_room:hover{ 
            border: transparent;
        }
        .shoe_info{
            margin-left: 10%;
            
        }
        .össz-meg-container{
            width: 100%;
        }
        .shoe_img_q{
            width:400px;
            height:200px;
            margin-left: 0%;
        }
        .shoe_room{
            width: 100%;
            height:auto;
            margin-left: 0%;
            margin-right: 1%;
            border-radius: 0%;
            transition: none;
            padding: 1%;
        }
        .össz-meg{
            font-size: 17px;
            margin-left: 1%;
            width: 50%;
            font-family: helvetica;
            color: black;
            font-weight: 0;
        }
        .össz-meg-container:hover .össz-meg::after {
        visibility: none;
        width: 0%;
        }
        .q_text_style{
            margin-left: 10%;
            width: 80%;
            /* font-size: x-small; */
        }
    }
    @media(max-width:1000px) {
        .nyilak{
            display: none;
        }
    }
    @media(max-width:600px) {

        .home-container{
            margin-top: 15%;
            grid-template-columns: repeat(2, 1fr);
        }
        
        .shoe{
            width: 100%;
            margin-left: -3%;
            transition: none;
        }
        .shoe:hover{
            border-color:white ;
        }
        .shoe_room{
            width: 100%;
            height:300px;
            margin-left: -7%;
            margin-right: 1%;
            border-radius: 0%;
            transition: none;
            padding: 1%;
        }
        
        .shoe_img{
            margin-left: 0%;
            width: 170px;
            height: 113px;
        }
        .shoe_img_q{
            width:185px;
            height:113px;
        }
        #akcio{
            display: none;
        }
        #red{
            color: rgb(126, 3, 3);
        }
        .rendezesstilo{
            margin-top: 10%;
            margin-left: 45%;
        }
        #rendezes{
            top: 12%;
            left: 53%;
            width: 35%;
            font-size: small;
        }
        .h2::after{
            display: none;
        }
        .kör{
            display: none;
        }
        
        #szin{
            left: 60%;
            font-size: small;
            top:12%;
        }
        .nagykép{
            object-fit: cover;
            object-position: center;
            overflow: hidden;
            width: 105.5%;
            margin-top: -3%;
            height: 600px;
            margin-left: -3%;
        }
        .nagykép_szöveg{
            font-size: 40px;
            top: 200px;
        }
        @media(max-width:600px){
        .room-container{
            display:block;
            margin-top:20%;
        }
        #árcég{
            display: flex;
            gap:10%;
        }
        #text{
            margin-bottom: 18%;
            font: weight 1px;
            font-size: small;
        }
        .ár{
            justify-content: center;
        }
        .q_text_style{
            margin-left: 13%;
            font-size: x-small;
        }
        
    }
    }
    

</style>

{% if q is None %}
<body id="home">
    <div >
        <img id="nagykép" class="nagykép blur-in lazy-load" src="{% static 'images/snkrkep.jpg' %}" />
        <h1 class="nagykép_szöveg fade-in lazy-load">TALÁLD MEG A KEDVENC SNEAKERED<br> A LEGJOBB ÁRON</h1>
    </div>
        <div id="homediv">
            {% for csoport, cipők in shoes.items %}
                <div class="shoe-container ">
                    <hr style="width: 95%;">
                    <div class="no-link-style_csoport">
                        <a method="GET"  href="{% url 'sneakerek'%}?q={{csoport}}" style="text-decoration: none">
                            <h1 id="nagycsoport" class="csoport_style slide-in-bottom lazy-load" >{{ csoport }}</h1>
                        </a> 
                    </div>
                    <div class="össz-meg-container">
                        <a method="GET" href="{% url 'sneakerek'%}?q={{csoport}}" style="text-decoration: none;">
                            <h2 class="össz-meg slide-in-bottom lazy-load">Összes megtekintése</h2>
                        </a>
                    </div>
                    <div class="nyilak slide-in-bottom lazy-load">
                        <button class="x_design_nyil" onclick="scrollbal( '{{csoport}}' )" style="z-index: 10;">
                            <svg class="X_nyil" viewBox="0 0 24 24" width="24" height="24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                                <line x1="15" y1="6" x2="9" y2="12"></line>
                                <line x1="9" y1="12" x2="15" y2="18"></line>
                            </svg>
                        </button>
                        <button class="x_design_nyil" onclick="scrolljobb( '{{csoport}}' )" style="z-index: 10;">
                            <svg class="X_nyil" viewBox="0 0 24 24" width="24" height="24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                                <line x1="9" y1="6" x2="15" y2="12"></line> 
                                <line x1="15" y1="12" x2="9" y2="18"></line> 
                            </svg>
                            
                        </button>
                        
                    </div>
                    
                    <div id="shoe-group-{{csoport}}" class="shoe-group">
                        {% for cipő in cipők %}
                            <div class="shoe ">
                                <a class="no-link-style" href="{% url 'home' %}?q={{cipő.name}}">
                                    {% if cipő.cég == 'Foot Locker' %}
                                        <img class="Foot_locker" src="{{ cipő.image }}">
                                    {% elif cipő.cég == 'sizeer' %}
                                        <img class="sizeer" src="{{cipő.image}}">
                                    {% else %}
                                        <img class="shoe_img fade-in lazy-load" src="{{ cipő.image }}">
                                    {% endif %}
                                    <div id="text" class="text_style fade-in lazy-load">
                                            <h3 style="text-align: center; text-transform: capitalize;">{{ cipő.name }}</h3>
                                            <div class="ár">
                                                {% if cipő.akcios_ár != "0" %}
                                                <h3 style="text-decoration: line-through; color: gray; text-align: center;">{{cipő.akcios_ár}} Ft </h3>
                                                {% endif %}
                                                <h3 style="color: gray; text-align: center;">
                                                    {{cipő.price }} Ft-tól
                                                </h3>
                                            </div>
                                            <h2 class="no-link-style" style="color: rgb(10, 66, 93); text-align: center;">{{ cipő.cég }}</h2>
                                    </div>                                
                                </a>
                            </div>
                        {% endfor %}
                    </div>
                </div>
                
            {% endfor %}
        </div>
</body>
{% elif not shoes %}
    <h1 style="margin-top: 15%; color: black;">Nincs találat</h1>
{% else %}   

            {% if length == 1 %}
                
                {% for shoe in shoes %}
                    <div class="room-container">
                        <div>
                            <img src="{{shoe.image}}" alt="" style="width: 100%;">
                            {% if shoe.image_2 != "nincs" %}
                            <img style="width: 100%;" src="{{shoe.image_2}}">
                            {% endif %}
                        </div>
                        <div>
                            <h1 style="text-transform: capitalize;">{{shoe.name}}</h1>
                            <div id="árcég">
                                <h2 style="color: gray; text-align: center;">{{shoe.price}} Ft-tól</h2>
                                <a class="no-link-style" style="color: rgb(9, 9, 75);" href="{{shoe.link}}"><h2 style="text-transform: uppercase;">{{shoe.cég}}</h2></a>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            {% else %}
                <div class="home-container">
                {% for cipő in shoes %}
                    <div class="shoe_room">
                        <a class="no-link-style" href="{% url 'room' cipő.id %}">
                            {% if cipő.cég == 'Foot Locker' %}
                                <img class="Foot_locker" src="{{ cipő.image }}">
                            {% elif cipő.cég == 'sizeer' %}
                                <img class="sizeer" src="{{cipő.image}}">
                            {% else %}
                                <img class="shoe_img_q fade-in lazy-load" src="{{ cipő.image }}">
                            {% endif %}
                            <div class="q_text_style fade-in lazy-load">
                                <h3 style="font-family: helvetica;text-align: center; text-transform: capitalize;">{{ cipő.name }}</h3>
                                {% if cipő.akcios_ár != "0" %}
                                    <h3 style="text-decoration: line-through; color: gray; text-align: center;">{{cipő.akcios_ár}} Ft </h3>
                                {% endif %}
                                <h3 style="color: gray; text-align: center;">
                                {{cipő.price }} Ft-tól
                                </h3>
                                <h2 class="no-link-style" style="color: rgb(9, 9, 75); text-align: center;;" >{{ cipő.cég }}</h2>
                            </div>
                        </a>
                    </div>
                {% endfor %}
                </div>
            {% endif %} 
{% endif %}


<script>
    function scrollbal(csoport) {
        var container = document.getElementById('shoe-group-' + csoport);
        var screenWidth = window.innerWidth;

        container.scrollBy({
            left: - (screenWidth - 50), 
            behavior: 'smooth' 
        });
    }
    function scrolljobb(csoport) {
        var container = document.getElementById('shoe-group-' + csoport);
        var screenWidth = window.innerWidth;
        // print(screenwidth)
        container.scrollBy({
            left: screenWidth - (screenWidth * 0.03), 
            behavior: 'smooth' 
        });
    }
    
</script>

{% endblock content %}

<script>
    // function changeStyle() {
    //     var element = document.getElementsByClassName('nav-container');
    //     element.style.background = "transparent"
    

        window.addEventListener('scroll', function() {
            const scrollPosition = window.scrollY || window.pageYOffset;
            console.log('Current scroll position:', scrollPosition);
    
            const navbar = document.querySelector('.nav-container');
            if (scrollPosition > 900) {
                navbar.style.background = 'rgb(9,9,75)';
            } else {
                navbar.style.background = 'transparent';
            }
            
        });
        
</script>