{% extends 'main.html' %}

{% block content %}

<style>
    .home-container{
        display: grid;
        grid-template-rows: 1fr 1fr;
        margin-top: 10%;
    }
    .text {
       
        width: auto;
        font-family: helvetica;
        box-sizing: border-box;
    }
    .img {
        width: 90%; 
        height: 410px;
        image-rendering:auto;
        object-fit: cover;
        object-position: bottom;
        overflow: hidden;
    }
    .cég {
        font-family: helvetica;
        text-transform: uppercase;
        text-decoration: none;
        color: rgb(9, 9, 75);
        display: flex;
        margin-bottom: 0%;
        width: 100%;
        justify-content: center;
    }
    
    #akcio{
        color: gray; text-align: center; font-size: x-large;
    }
    .ár{
        color: gray;
    }
    #red{
        font-size: x-large;
        color: gray;
    }
    .ár_akcio{
        margin-top: 0%;
    }
    .kepek{
        display: flex;
    }
    .kep_lonely_cont{
        display: flex;
        justify-content: center;
    }
    .img_lonely{
        width: 60%; 
        height: 410px;
        image-rendering:auto;
        object-fit: cover;
        object-position: bottom;
        overflow: hidden;
        
    }
    /* @media(min-width:1425px){
        .home-container{
            margin-top: 1%;
        }
        .img{
            height: 600px;
        }
        .img_lonely{
            height: 600px;
        }
    } */
    @media(min-width:1425px){
        .home-container{
            margin-top: 10%;
        }
        
        .img_lonely{
            height: 600px;
        }
    }
    @media(max-width:1200px){
        .home-container{
            display:block;
            margin-top:20%;
            grid-template-columns: 4fr 3fr;
        }
        .árcég{
            justify-content: center;
        }
        #akcio{
            display: none;
        }
        .árcég{
            display: flex;
            gap:10%;
        }
        .text{
            margin-bottom: 18%;
        }
        .kepek{
            display: block;
        }
        .img{
            width: 100%;
            height: 100%;
            object-fit: fill;
            object-position: none;
            overflow: none;
            
        }
        #red{
            color: rgb(126, 3, 3);
            display: block;
            font-size: x-large;
        }
        .ár_akcio{
            margin-top: 14%;
        }
        .img_lonely{
            width: 100%;
            height: 100%;
            object-fit: fill;
            object-position: none;
            overflow: none;
        }
    }
    @media(max-width:420px){
        .árcég{
            font-size: small;
        }
    }
</style>

<div class="home-container">
    {% if shoe.image_2 != "nincs" %}
        <div class="kepek fade-in lazy-load">
            <img class="img" src="{{shoe.image}}" >
            {% if shoe.image_2 != "nincs" %}
            <img class="img" src="{{shoe.image_2}}">
            {% endif %}
        </div>
    {% else %}
        <div class="kep_lonely_cont fade-in lazy-load" >
            <img class="img_lonely" src="{{shoe.image}}" >
        </div>
    {% endif %}
    
    <div class="text fade-in lazy-load">
        <h1 style="text-transform: capitalize; text-align: center;" >{{shoe.name}}</h1>
        <div class="árcég">
            <div style="display: flex; justify-content: center;">
                {% if shoe.akcios_ár != "0" %}
                    <div class="ár_akcio">
                        <span id="akcio" style="text-decoration: line-through; text-align: center;">{{shoe.akcios_ár}} Ft</span> 
                        <span id="akcio">&nbsp;</span>
                        <span id="red">{{shoe.price }} Ft-tól</span>
                    </div>
                {%else%}
                    <h2 style="text-align: center; color: gray;text-align: center;">{{shoe.price }} Ft-tól</h2>
                {% endif %}
            </div>
            <a href="{{shoe.link}}"  style="color: rgb(9, 9, 75); text-decoration: none; text-align: center; "><h2 class="cég">{{shoe.cég}}</h2></a>
        </div>
    </div>

</div>

{% endblock %}