body{
    background-color:white;
}
.nav-container {
    position: fixed;
    background-color: rgb(10,66,93);
    display: grid;
    grid-template-columns: auto auto auto;
    align-items: center;
    max-height: 90px;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 900;
}